* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    min-width: 480px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section_inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}