.send_us {
    background-image: url(../img/send_img.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.send_us_form {
    background: $white;
    width: 220px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 80px;
    
    @media screen and (min-width: 768px) {
        width: 250px;
        height: 280px;
        right: 90px;
    }
    
    @media screen and (min-width: 992px) {
        width: 300px;
        height: 320px;
        right: 130px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 390px;
        height: 400px;
        right: 180px;
    }
    
    h2 {
        color: $black;
        font: bold 20px 'kepler_std';
        padding: 30px 0 10px;
        
        @media screen and (min-width: 768px) {
            font-size: 24px;
            padding: 35px 0 20px;
        }
        
        @media screen and (min-width: 992px) {
            font-size: 26px;
        }
        
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            padding: 40px 0 35px;
        }
    }
    
    input {
        height: 28px;
        width: 150px;
        padding: 5px 5px;
        font: normal 12px 'montserrat';
        border: 0;
        border-bottom: 1px solid $gray;
        
        @media screen and (min-width: 768px) {
            height: 30px;
            width: 180px;
            padding: 14px 5px;
            font-size: 14px;
            margin-left: -15px;
        }
        
        @media screen and (min-width: 992px) {
            height: 35px;
            width: 220px;
            padding: 14px 5px;
            font-size: 16px;
            margin-left: 35px;
        }
        
        @media screen and (min-width: 1200px) {
            height: 44px;
            width: 300px;
            padding: 14px 5px;
            font-size: 16px;
            margin-left: 35px;
        }
    }
}

.button_send_us {
    position: absolute;
    background: $ligth-red;
    color: $white;
    font: normal 13px 'kepler_std', sans-serif;
    padding: 7px 15px;
    border-radius: 45px;
    border: 0;
    bottom: 30px;
    left: 35px;
    
    @media screen and (min-width: 768px) {
        padding: 8px 20px;
        bottom: 35px;
    }
    
    @media screen and (min-width: 992px) {
        padding: 10px 25px;
        font-size: 14px;
        bottom: 40px;
        left: 45px;
    }
}
