.send_us {
    background-image: url(../img/send_img.png);
    //height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
    @media screen and (min-width: 992px) {
        max-height: 570px;
    }
}

.send_us_form {
    background: $white;
    width: 100%;
    max-width: 480px;
    margin: 30px auto;
    padding: 30px;
    
    @media screen and (min-width: 768px) {
        margin: 50px auto;    
    }
    
    @media screen and (min-width: 992px) {
        width: 390px;
        margin: 50px 0 0 450px;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 50px 0 0 700px;
    }
    
    h2 {
        color: $black;
        font: bold 20px 'kepler_std';
        margin-bottom: 15px;
        text-align: center;
        
        @media screen and (min-width: 768px) {
            font-size: 24px;
            margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }
    
    input[type='text'],
    input[type='email']{
        height: 30px;
        width: 100%;
        padding: 5px 8px;
        margin: 10px 0;
        font: normal 14px 'montserrat';
        border: 0;
        border-bottom: 1px solid $gray;

        
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        
        @media screen and (min-width: 992px) {
            font-size: 16px;
        }
    }
}

.button_send_us {
    background: $ligth-red;
    color: $white;
    font: 16px 'montserrat';
    padding: 10px 15px;
    border-radius: 45px;
    border: 0;
    margin: 20px auto 0;
    display: block;
    width: 50%;
    
    @media screen and (min-width: 768px) {
        padding: 8px 20px;
    }
    
    @media screen and (min-width: 992px) {
        padding: 13px 15px;
        margin: 80px 0 10px;
        font-size: 14px;
        width: 30%;
    }
}
