.send_us {
    background-image: url(../img/send_img.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    @media screen and (min-width: 992px) {
        height: 570px;
    }
}

.send_us_form {
    background: $white;
    width: 45%;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 15%;
    
    @media screen and (min-width: 768px) {
        width: 35%;
        height: 280px;
    }
    
    @media screen and (min-width: 992px) {
        width: 30%;
        height: 320px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 25%;
        height: 400px;
    }
    
    h2 {
        color: $black;
        font: bold 20px 'kepler_std';
        padding: 30px 0 10px;
        text-align: center;
        
        @media screen and (min-width: 768px) {
            font-size: 24px;
            padding: 35px 0 20px;
        }
        
        @media screen and (min-width: 992px) {
            font-size: 26px;
        }
        
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            padding: 40px 0 35px;
        }
    }
    
    input {
        height: 30px;
        width: 75%;
        padding: 3%;
        margin-left: 12%;
        font: normal 12px 'montserrat';
        border: 0;
        border-bottom: 1px solid $gray;

        
        @media screen and (min-width: 768px) {
            font-size: 14px;
            margin-left: 8%;
        }
        
        @media screen and (min-width: 992px) {
            height: 35px;
            width: 120%;
            font-size: 16px;
            margin-left: 13%;
        }
        
        @media screen and (min-width: 1400px) {
            height: 44px;
            width: 150%;
            margin-left: 18%;
        }
    }
}

.button_send_us {
    background: $ligth-red;
    color: $white;
    font: normal 13px 'kepler_std' sans-serif;
    padding: 7px 15px;
    border-radius: 45px;
    border: 0;
    margin: 13% 0 0 10%;
    
    
    @media screen and (min-width: 768px) {
        padding: 8px 20px;
    }
    
    @media screen and (min-width: 992px) {
        padding: 10px 25px;
        font-size: 14px;
        margin: 25% 0 0 12%;
    }
    
    @media screen and (min-width: 1300px) {
        margin: 40% 0 0 17%;
    }
}
