.header{
    background:$white;
}
.menu_topnav{
    display: flex;
    justify-content:space-between;
    
    a{
    font-size: 16px;
    font-weight: bold;
    color: $black;
    }
    
    li{
    margin-top: 30px;
    }
}



