.ideas{
    background: $ligth-gray;
}
.ideas_title{
    text-align: center;
    
    h2{
        font: bold 48px 'kepler_std';
        padding-top: 180px;
    }
    
    img{
        padding: 30px 0 30px 0;
    }
}
.ideas_photo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    text-align: center;
    
    li{
        width: 32%;
    }
    
    img{
        width: 100%;
    }
}
.button_center_wrapper{
    position: relative;
}
.ideas_button_center{
    display: inline-block;
    position: absolute;
    background: #fff;
    padding: 15px;
    font: bold 24px 'kepler_std', serif;
    color: #fff;
    left: 23px;
    top: 165px;
}
.ideas_beach{
    color:#454851; 
    display: block;
    border: 1px solid #cccccc;
    padding: 20px 30px;
    text-align: center;
}
.ideas_group{
    color:#454851; 
    display: block;
    border: 1px solid #cccccc;
    padding: 20px 50px;
    text-align: center;
}
.ideas_city{
    color:#454851; 
    display: block;
    border: 1px solid #cccccc;
    padding: 20px 74px;
    text-align: center;
}










