.properties{
    background: $ligth-gray;
}

.properties_header{
    text-align: center;
    
    h3{
        font: bold 48px 'kepler_std';
        padding-top: 50px;
    }
    
    img{
        padding: 30px 0 30px 0;
    }
}

.properties_info{
    position: relative;
    width: 280px;
    
    h4{
        text-align: center;
        padding:30px 0 20px 0;
        font: bold 30px 'kepler_std';
    }
    
    p{
        font: 16px 'montserrat', 300;
        padding: 0 25px 20px 15px;
    }
    
    img{
        padding-left: 15px;
        vertical-align: top;
    }
}

.button_properties{
    position: absolute;
    background: #f31131;
    color: #fff;
    font: 14px 'montserrat', 300;
    padding: 13px 22px;
    border-radius:45px;
    border: 0; 
    bottom:30px;
    left:20px;
}

.properties_photo_info{
    display: flex;
    background: $white;
    width: 50%;
}
.properties_photo{
    width: 278px;
    font-size: 0;
}
.properties_photo_slider{
    font-size: 0;
    display: flex;
    img{
        height: 70px;
        width: 33.3333%;
    }
}












