.slider {
    background-image: url(../img/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $black;
    height: 690px;
    position: relative;
    z-index: 90;
    
    h1 {
        color: $white;
        padding-top: 120px;
        font: bold 30px 'montserrat', serif;
    }
    
    @media screen and (min-width: 768px) {
        h1 {
            padding-top: 280px;
            font-size: 40px;
        }
    }
    
     @media screen and (min-width: 992px) {
        h1 {
            padding-top: 320px;
            font-size: 50px;
        }
    }
    
    /*@media screen and (min-width: 1100px){
        h1{
            padding-top: 320px;
            font-size:60px;
        }
    }*/
                
}

.slider_form {
    position: absolute;
    background: $white;
    width: 60%;
    height: 300px;
    padding: 20px;
    position: absolute;
    bottom: 120px;
    left: 20%;
    
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        background: $white;
        width: 70%;
        height: 120px;
        padding: 30px 60px 30px 25px;
        bottom: -80px;
        left: 15%;
    }
    
    @media screen and (min-width: 992px) {
        height: 140px;
        padding: 40px 90px 40px 30px;
        width: 65%;
        left: 18%;
    }
    
    @media screen and (min-width: 1380px){
        height: 160px;
        padding:40px 110px 60px 40px;
    }
}
        
.form_input {
    width: 100%;
    position: relative;
    margin: 15px 0;

    @media screen and (min-width: 768px) {
        margin: 0 8px;
        }

    @media screen and (min-width: 992px) {
        width: 190px;
        }

    input {
        width: 100%;
        padding-bottom: 15px;
        font: 16px 'montserrat', 300;
        border: 0;
        border-bottom: 1px solid $gray;
        color: $gray;

        &:focus{
            color: $dark-gray;
            border-bottom: 1px solid $dark-gray;
            }
        }

    img {
        margin-left: -30px;
        position: absolute;
        right: 0;
        top: 2px;
    }
}

.button_slider {
    position: absolute;
    background: $ligth-red;
    color: $white;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 100%;
    bottom: 30px;
    right: 45%;
    
    @media screen and (min-width: 768px) {
        width: 30px;
        height: 30px;
        top: 50px;
        right: 20px; 
    }
    
    @media screen and (min-width: 992px) {
        width: 40px;
        height: 40px;
        bottom: 60px;
        right: 30px; 
    }
}














